<header>
  <img src="../images/favicon.ico" alt="" loading="lazy" />
    <nav>
        <form id="logout" action="/admin-logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>

<main id="admin-aanpassen">
    <div>
        <section>
            <h1>Product aanpassen</h1>
            <a class="buttonPrimary" href="/producten-overzicht">back</a>
        </section>
        {{#each product}}
            <form action="/producten-overzicht/change" method="post" enctype="multipart/form-data">
                <section class="visually-hidden">
                    <p>It has this {{this._id}} id </p>
                    <input id="id" name="id" type="text" value="{{this._id}}" />
                </section>
                <section>
                    <p>Naam is: {{this.naam}}</p>
                    <label>It needs to be:
                        <input id="naam" name="naam" type="text" />
                    </label>
                </section>
                <section>
                    <p>Leeftijd is: {{this.leeftijd}}</p>
                    <label for="leeftijd">It needs to be:</label>
                    <input type="text" name="leeftijd" />
                </section>
                <section>
                    <p>Soort is: {{this.soort}}</p>
                    <label for="soort">It needs to be:</label>
                    <input type="text" name="soort" />
                </section>
                <section>
                    <p>Beschrijving is: {{this.beschrijving}}</p>
                    <label for="beschrijving">It needs to be:</label>
                    <input type="text" name="beschrijving" />
                </section>
                <section>
                    <h2>Selecteer de karakter eigenschappen:</h2>
                    <fieldset>
                        <legend>Activiteit</legend>
                        <p class="visually-hidden">It is {{this.eigenschappen.activiteit}}</p>
                        <label for="actief">
                            <input type="radio" name="activiteit" value="actief" />
                            Actief
                        </label>
                        <label for="rustig">
                            <input type="radio" name="activiteit" value="rustig" />
                            Rustig
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Leefstijl</legend>
                        <p class="visually-hidden">It is {{this.eigenschappen.leefstijl}}</p>
                        <label for="binnen">
                            <input type="radio" name="leefstijl" value="binnen" />
                            Binnen
                        </label>
                        <label for="buiten">
                            <input type="radio" name="leefstijl" value="buiten" />
                            Buiten
                        </label>
                        <label for="beiden">
                            <input type="radio" name="leefstijl" value="beiden" />
                            Beiden
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Grootte</legend>
                        <p class="visually-hidden">It is {{this.eigenschappen.grootte}}</p>
                        <label for="groot">
                            <input type="radio" name="grootte" value="groot" />
                            Groot
                        </label>
                        <label for="middel">
                            <input type="radio" name="grootte" value="middel" />
                            Middel
                        </label>
                        <label for="klein">
                            <input type="radio" name="grootte" value="klein" />
                            Klein
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Dag</legend>
                        <p class="visually-hidden">It is {{this.eigenschappen.dag}}</p>
                        <label for="dag">
                            <input type="radio" name="dag" value="dag" />
                            Dag dieren
                        </label>
                        <label for="nacht">
                            <input type="radio" name="dag" value="nacht" />
                            Nacht dieren
                        </label>
                    </fieldset>
                </section>
                <div>
                    <img src="/upload/{{this.img}}" alt="Picture" loading="lazy"/>
                    <label class="otherImg">
                        Andere afbeelding:
                        <input name="image" type="file" accept="image" />
                    </label>
                </div>

                <input class="submitButton" type="submit" value="change" />
            </form>
        {{/each}}
    </div>
</main>

<script src="/js/checkForAdmin.js"></script>