{{> admin-header}}

<main id="productPageAdmin">
  <div>
    <section>
      <input
        id="searchAnimals"
        type="text"
        name="search"
        placeholder="Zoek dieren"
      />
    </section>
    <section id="animalsList">
      {{#each product}}
        <ul>
          <li><img src="/upload/{{this.img}}" alt="Picture" /></li>
          <li>{{this.naam}}</li>
          <li>{{this.soort}}</li>
          <li><a
              href="/producten-overzicht/aanpassen/{{this._id}}"
            >change</a></li>
        </ul>
        <form action="/product-delete/{{this._id}}" method="post">
          <button type="submit" class="submitButton">Delete</button>
        </form>
      {{/each}}
    </section>
  </div>
  <script src="/js/admin-search.js"></script>

</main>