<header>
    <img src="../images/favicon.ico" alt="" loading="lazy"/>
    <nav>
        <a href="/voorkeuren-opgeslagen">Voorkeuren</a>
        <a href="/wishlist">Wishlist</a>
        <form id="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>


<main id="confirmPage">

    <section class="message">
        {{#each doggo}}
        <h1>Wat fijn dat u {{this.naam}} heeft gevonden!</h1>
        {{!-- foto dier --}}
        
        <ul class="dogContainer">
            <li class="liIMG"><img src="../upload/{{this._id}}" alt="dog Barry" loading="lazy"></li>
            <ul class="dogInfo">
            <li>Naam: {{this.naam}}</li>
            <li>Leeftijd: {{this.leeftijd}}</li>
            <li>Soort: {{this.soort}}</li>
            <li>Beschrijving: {{this.beschrijving}}</li>
            </ul>
            {{/each}}
        </ul>

        <p>Graag willen we wat gegevens van u zodat we een afspraak kunnen maken voor een ontmoeting.</p>
    </section>
    {{#with person}}
    <section>
        <h2>We zien u graag op {{date}}, om {{time}}</h2>
    </section>
    {{/with}}
</main>