{{> header }}

<main id="confirmPage">

    <section class="message">
        {{#each doggo}}
            <h1>Wat fijn dat u {{this.naam}} heeft gevonden!</h1>
            {{! foto dier }}

            <ul class="dogContainer">
                <li class="liIMG"><img src="../upload/{{this.img}}" alt="dog Barry" /></li>
                <ul class="dogInfo">
                    <li>Naam: {{this.naam}}</li>
                    <li>Leeftijd: {{this.leeftijd}}</li>
                    <li>Soort: {{this.soort}}</li>
                    <li>Beschrijving: {{this.beschrijving}}</li>
                </ul>

            </ul>
        {{/each}}
        <p>Graag willen we wat gegevens van u zodat we een afspraak kunnen maken voor een ontmoeting.</p>
    </section>

    <section>
        <form class="confirm" method="post" action="/meet">

            <div class="formName">
                <label>Wat is uw naam?</label>
                <input type="text" id="name" name="name" placeholder="Uw naam" required />
            </div>

            <div class="formPhone">
                <label>Wat is uw telefoon nummer?</label>
                <input type="tel" inputmode="tel" id="phone" name="phone" placeholder="+31612345678" required />
            </div>

            <div class="formDate">
                <label for="date-input">Welke dag wilt u het dier komen ophalen?</label>
                <input type="date" id="date-input" name="date" min="" max="" required />
            </div>

            <div class="formTime">
                <label for="time-input">Hoelaat wilt u het dier komen ophalen?</label>
                <select id="time-input" name="time" required></select>
            </div>

            <div class="formSubmit">
                <input class="submitButton" type="submit" value="Maak uw afspraak" required />
            </div>
        </form>
    </section>

</main>
 
<script src="/js/gulp-js/confirm-time.js"></script>
<script src="/js/gulp-js/confirm-date.js"></script>