<header>
    <section>
    </section>
    <nav>
    </nav>
</header>

<main id="productpage">
    {{!-- <section>
        <h1>Ons aanbod</h1>
    </section>
    <ul>
        {{#each result}}
            <li class="{{this.naam}} {{this.leeftijd}} {{this.soort}}">
                <div>
                    <img src="/upload/{{this.img}}" alt="Picture of the place" />
                </div>

                <p>{{this.naam}}</p>
                <p>{{this.leeftijd}}</p>
                <p>{{this.soort}}</p>
            </li>
        {{/each}}
    </ul>
    <section>
        <h3>Filter products</h2>
        <p id="javascriptOff">Turn on Javascript to use the filter function</p>
    </section> --}}
      <!-- HTML-structuur voor productenpagina -->
  <h1>Productenpagina</h1>
  <ul id="product-list"></ul>
  
  <!-- Inlogformulier -->
  <form id="login-form">
    <input type="text" id="username" placeholder="Gebruikersnaam" required>
    <input type="password" id="password" placeholder="Wachtwoord" required>
    <button type="submit">Inloggen</button>
  </form>
</main>

<script src="/js/filter.js"></script>
