<header>
    <img src="images/favicon.ico" alt="" />
    <nav>
        <a href="/voorkeuren-opgeslagen">Voorkeuren</a>
        <a href="/wishlist">Wishlist</a>
        <form id="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>
<main>
    {{#each product}}
        <a href="/products">Back</a>
        <section>
            <div>
                <img src="/upload/{{this.img}}" alt="Picture" />
            </div>
            <section>
                <h3 class="visually-hidden">Gegevens:</h3>
                <p><b>Naam:</b> {{this.naam}}</p>
                <p><b>Leeftijd:</b> {{this.leeftijd}}</p>
                <p><b>Soort:</b> {{this.soort}}</p>
                <p><b>Beschrijving:</b> {{this.beschrijving}}</p>
            </section>

            <section>
                <h4 class="visually-hidden">Eigenschappen:</h4>
                <p><b>Activiteit:</b> {{this.eigenschappen.activiteit}}</p>
                <p><b>Leefomgeving:</b> {{this.eigenschappen.leefstijl}}</p>
                <p><b>Grootte:</b> {{this.eigenschappen.grootte}}</p>
                <p><b>Dag of nacht dieren:</b> {{this.eigenschappen.dag}}</p>
            </section>
        </section>
        <form action="/wishlist-add/{{this._id}}" method="post">
            <button type="submit" class="add-to-watchlist">Add to Watchlist</button>
        </form>

    {{/each}}
</main>